*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    height: 100vh;
    background: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    text-align: center;
  }

#page {
    display: inline-block;
}

.conversion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    margin-top: 200px;
    background-color: rgba(6, 75, 144, 0.221);
    color: white;
}

h1 {
  font-size: 30px;
}

#input {
  margin-top: 5px;
  margin-bottom: 5px;
}

.champ {
  height: 35px;
  width: 120px;
}