/* Réinitialise les marges, paddings */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/* Visuel de la page */
body {
    height: 100vh; 
    background: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    text-align: center;
}

/* Met le conteneur principal en ligne */
#page {
    display: inline-block; 
}

.conversion {
    display: flex;
    flex-direction: column; /* empile les lignes */
    justify-content: center; 
    width: 600px;
    height: 600px;
    margin-top: 200px;
    background-color: rgb(243 246 249 / 16%);
    color: white;
}

h1 {
  font-size: 30px;
}

#input {
  margin-top: 5px;
  margin-bottom: 5px;
}

.champ {
  height: 35px;
  width: 120px;
}