*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

#board {
    width: 900px;
    margin: 0% 5%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
  }
  
.block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
  }

  .block:nth-child(15n) {
    margin-left: auto;
  }