*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: black(0 0% 100%);
  }

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: #a19595;
    cursor: pointer;
}